{%extends 'base.html'%}

{%block title_block%}
<title>Todo {{request.user}}</title>
{%endblock%}


{%block main_block%}
<h2 style="text-align: center;">Todo list of {{request.user}}</h2>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>STATUS</th>
            <th>CREATED DATE</th>
            <th>UPDATED DATE</th>
            <th>ACTION</th>
        </tr>
        {%for i in data%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.description}}</td>
            <td>{{i.status}}</td>
            <td>{{i.created_date}}</td>
            <td>{{i.updated_date}}</td>
            <td>
                <a href="{%url 'todo-detail' i.id%}">View</a>
                <a href="{%url 'todo-delete' i.id%}">Remove</a>
                <a href="{%url 'todo-edit' i.id%}">Edit</a>
            </td>
        </tr>
        {%endfor%}
    </table>  

{%endblock%}